{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container">
            <h1 class="my-5">Vous allez investir {{ amount }}€</h1>
        </div>
    </section>
{% endblock %}